/* Set the position of the picture frame */
#picture-frame {
    border: 10px solid rgba(255, 176, 6, 0.75);
    border-radius: 20px;
    position: relative;
    width: 1000px; /* Set the fixed width of the picture frame */
    height: 600px; /* Set the fixed height of the picture frame */
    margin: 0 auto;
    overflow: hidden;
  }
  
  img {
    display: block;
    width: auto;
    height: 100%;
  }
  
  /* Position the previous and next buttons */
  #buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 800px; /* Set the fixed width of the picture frame */
    margin: 0 auto;
  }
  
  /* Position the progress bar */
  #progress-bar {
    position: absolute;
    bottom: -42px;
    border-radius: 6px;
    left: 0;
    width: 50%;
    transform: translateX(50%);
    height: 12px;
    background-color: #b4b4b4;
  }


  
  /* Style the progress bar */
  #progress-bar-inner {
    width: 0%;
    height: 100%;
    border-radius: 6px;
    background-color: rgb(100, 100, 100);
  }
  
  /* Style the buttons */
  .button {
    background-color: transparent;
    border: none;
    color: rgb(100, 100, 100);
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    font-weight: 400;
    margin: 4px 2px;
    cursor: pointer;
  }

  button:hover {
    color: orange;
    opacity: 0.75;
  }

  /* Position the previous button */
  #prev-button {
    position: absolute;
    left: 15%;
    bottom: -75px;
    opacity: 1;
  }

  
  
  /* Position the next button */
  #next-button {
    position: absolute;
    right: 15%;
    bottom: -75px;
  }
  